<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- File appender to save logs to a file -->
        <File name="File" fileName="/var/log/myapp.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <!-- Use the file appender -->
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
